@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to AutoDoctor</h1>
    <p class="lead">Your one-stop shop for all automotive parts and accessories.</p>
    <a class="btn btn-dark btn-lg mt-5 w-25" href="/Marketplace/All" role="button">Shop Now</a>
</div>
    <div class="text-center mt-4">
        <img src="~/uploads/Auto Mechanic.png" class="img-fluid w-50 h-50" alt="About Us">
    </div>

<div class="container mt-5">
    <h2 class="text-center">About AutoDoctor</h2>
    <p class="text-center">At AutoDoctor, we provide a wide range of automotive parts and accessories to meet all your needs. Whether you are looking for high-quality brake pads, engine parts, or interior accessories, we've got you covered. Our mission is to deliver the best products at competitive prices, ensuring your vehicle runs smoothly and efficiently.</p>
</div>
