@model IEnumerable<AutoDoctor.Web.ViewModels.Marketplace.AllOffersViewModel>

@{
    ViewData["Title"] = "Marketplace";
}

<h2 class="text-center mb-4">All Offers</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Part Name</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var offer in Model)
        {
            <tr>
                <td><img src="@Html.Raw(offer.Part.ImageUrl)" alt="Product image" /></td>
                <td>@offer.Part.Name</td>
                <td>@offer.Part.Price</td>
                <td>@offer.Part.Manufacturer.UserName</td> 
            </tr>
        }

    </tbody>
</table>